<div>
    <h2>Lista de Tareas</h2>
    <div class="button-group">
        <input #inputTarea type="text" placeholder="Nueva tarea..." [(ngModel)] = "nuevaTarea" (keyup.enter)="agregarTarea(); $event.preventDefault()"/>
        <button (click)="agregarTarea()">Agregar</button>
        <button class="btn-limpiar" (click)="eliminarTareas()">Limpiar</button>
    </div>
    <ul>
        @for (tarea of listaTareas; track tarea; let i = $index) {
            <li>
                {{ tarea }}
                <button (click)="eliminarTarea(i)">Eliminar</button>
            </li>
        }
        @empty {
            <li>No hay tareas pendientes.</li>
        }
    </ul>
</div>